<!DOCTYPE html>

<html>

<head>
    <title>Home</title>

<lin rel ='stylesheet' href="/templates/main.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
  
<!-- Wrap all page content here -->
<div id="wrap">
  
  <!-- Fixed navbar -->
  <div class="navbar navbar-default" data-spy="affix" data-offset-top="60" data-offset-bottom="70" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dictionary</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="home">Home</a></li>
          <li><a href="/definition">Definition</a></li>
          <li><a href="/search">Search</a></li>
	  <li><a href="/pract">Practice</a></li>
          <li><a href="/logout">logout</a></li>
          
          
           

            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>Dictionary App </h1>
    </div>
    <p class="lead">You can search for the meanings of words. You can practice vocabulary. However, in order to practice, you must add at least 10 words to your dictionary. </p>
  </div>
</div>







  


    
<div align = 'center'>





</div>
</div>
 
</div>
  </div><!-- /.container-








<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>





